@import url('bootstrap/3.3.4/css/bootstrap.css');
@import url('toastr/toastr.css');

@viewport {
	width: 1920px;
	orientation: landscape;
}

html, body, .section-images {
    width:100%;
    height:100%;
    margin:0;
	
	
}


body { 
	font-size:100%; 
	background: #f7b93f;
} 



#main {
	width:auto;
	height: 60em;
	position: relative; /* setting to relative makes absolutely positioned objects within #main actually be relative to upper left of #main  vs body*/
}

/* magical background image, partially see through */
#main::after {
	content: "";
	background:  url("openbrewery.png") no-repeat center;
	opacity:0.3;
	top:0;
	left:0;
	bottom:0;
	right:0;
	position:absolute;
	z-index:-1;
}

#log {
	width:100%;
	color:#999;
	font-size:90%;
	border:1px solid grey;
	margin:5em;
	background-color:#eee;
}

.logWarning {
	color:orange;
}

.logError {
	color:red;
}

.logNormal {
	color:green;
}
.logInfo {
	color:#999;
}

.loading {
	background-color:pink;
}


.component, .pump, .valve, .heater, .tank, .propValve, .heatEx {
	/* naming each component above is probably a waste of characters since they all share component */
	position: absolute; 
	/*display: inline-block;*/ /* shrink wrap around children */
	white-space: nowrap; /* dunno if this helps or not */
	width:13em;
	/*margin:3em;*/
}

/* styling for the view - basically the bootstrap panel */
.pumpView, .valveView, .tankView, .heaterView, .heatExchangerView {
    border: 1px solid grey;
    background-color: #EEE;
	margin-bottom:0px; /* turn off bootstratp default margin bottom as it breaks jsplumb */
}

.pumpView {
    
}


.valveView {
    z-index:2;
}

/* Not used start 
.valveGraphic {
    float:left;
    border:0px; padding:0px; margin:0px;
    content: '';
    //display: inline-block;
	width: 0; height: 0;
  border: 30px solid transparent;
  border-top-color: transparent;
  border-right-color: black;
  border-bottom-color: transparent;
  border-left-color: black;
}

.valveGraphicInner {
    left: -40%;
    content: '';
	width: 0; height: 0;
  border: 30px solid transparent;
  border-top-color: transparent;
  border-right-color: grey;
  border-bottom-color: transparent;
  border-left-color: grey;
    -webkit-transform: scale(.8, .8);
    -moz-transform: scale(.8, .8);
    transform: scale(.8, .8);
    z-index:1;
}
*/

.heaterView {
}

.tankView {
}

/* Make progress bar on tanks vertical */
.tankView .progress {
    height:6.25em;
    width:6.25em;
    transform: rotate(-90deg);
}
